# ======================
# ENV & SECRETS
# ======================
.env
.env.*
*.local

# ======================
# PYTHON
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
.env.bak/

# ======================
# NODE / FRONTEND
# ======================
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# EDITORS / OS
# ======================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
